*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.award{
    text-align: center;
}

.grid-container {
    display: grid;
    margin-left: 200px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    
  }
  .grid-item {
    padding: 20px;
    text-align: center;
  }

@media only screen and (max-width: 768px) {
   
      #award h1 {
        font-size: 20px;
      }

      .grid-item{
        margin-top: 10px;
        flex-basis: calc(50% -10%);
      }
      .grid-container{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        right: 90px;
      }
      
    }

  
