.main_container{
    width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.menu-button{
    display: none;
}


@media(max-width: 480px) {
    .main_container{
        max-width: 475;
        overflow-x: hidden;
    }
    img{
        max-width: 100%;
       
    }

    .intro-text h1{
        position: relative;
        margin-left: 20px;
      
    }
     .hideOnMobile{
        display: none;
    }
    .sidebar{
        width: 100%;

    }
    .menu-button{
        display: block;
    }

}
@media(min-width: 640px) {
    .main_container{
        max-width: 640;
        overflow-x: hidden;
    }

}
@media (max-width: 768px) {
    .main_container{
        max-width: 768;
        overflow-x: hidden; 
        
    }
    img{
        width: 70%;
    }

}
}



@media(max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px) {
    .sidebar{
        width: 100%;

    }
    .menu-button{
        display: block;
    }
}





m
